In [10]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv("\\Users\\Welcome\\Documents\\dsbda2\\cs_students.csv")   
df

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
0,1,John Smith,Male,21,3.5,Computer Science,Artificial Intelligence,Chatbot Development,Machine Learning Researcher,Strong,Strong,Weak
1,2,Alice Johnson,Female,20,3.2,Computer Science,Data Science,Data Analytics,Data Scientist,Average,Strong,Weak
2,3,Robert Davis,Male,22,3.8,Computer Science,Software Development,E-commerce Website,Software Engineer,Strong,Strong,Average
3,4,Emily Wilson,Female,21,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
4,5,Michael Brown,Male,23,3.4,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,Elijah Davis,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
176,177,Emma Johnson,Female,20,3.6,Computer Science,Cybersecurity,Security Auditing,Information Security Analyst,Strong,Average,Weak
177,178,Liam Wilson,Male,21,3.4,Computer Science,Machine Learning,Natural Language Processing,Machine Learning Engineer,Strong,Average,Weak
178,179,Sophia Johnson,Female,22,3.5,Computer Science,Database Management,SQL Database Administration,Database Administrator,Weak,Strong,Average
179,180,Michael Brown,Male,23,3.7,Computer Science,Cloud Computing,Cloud Solution Architecture,Cloud Solutions Architect,Strong,Strong,Weak

In [36]:
# Select only numeric columns
col = df.select_dtypes(include=[np.number])
# Calculate mean for each numeric column
mean = col.mean()
print(mean)

Student ID    90.500000
Age           22.116667
GPA            3.615000
dtype: float64

In [30]:
# To find mean of specific column
df.loc[:,'Age'].mean()

22.116666666666667

In [41]:
#numeric columns
num_col = df.select_dtypes(include=[np.number])
#row-wise mean for first 4 rows
mean_4 = num_col.head(4).mean(axis=1)
print(mean_4)

0    8.500000
1    8.400000
2    9.600000
3    9.566667
dtype: float64

In [38]:
# Median
# All Columns
col = df.select_dtypes(include=[np.number])
col.median()

Student ID    90.5
Age           22.0
GPA            3.6
dtype: float64

In [39]:
# specific column
df.loc[:,'Age'].median()

22.0

In [43]:
#numeric columns
num_col = df.select_dtypes(include=[np.number])
#row-wise median for  first 4 rows
median_4 = num_col.head(4).median(axis=1)
print(median_4)

0    3.5
1    3.2
2    3.8
3    4.0
dtype: float64

In [44]:
# Mode
col = df.select_dtypes(include=[np.number])
col.mode()

     Student ID   Age  GPA
0             1  22.0  3.7
1             2   NaN  NaN
2             3   NaN  NaN
3             4   NaN  NaN
4             5   NaN  NaN
..          ...   ...  ...
175         176   NaN  NaN
176         177   NaN  NaN
177         178   NaN  NaN
178         179   NaN  NaN
179         180   NaN  NaN

[180 rows x 3 columns]

In [45]:
#Minimum
col = df.select_dtypes(include=[np.number])
col.min()

Student ID     1.0
Age           20.0
GPA            3.2
dtype: float64

In [46]:
# Maximum
col = df.select_dtypes(include=[np.number])
col.max()

Student ID    180.0
Age            37.0
GPA             3.9
dtype: float64

In [47]:
# Standard Deviation
col = df.select_dtypes(include=[np.number])
col.std()

Student ID    52.105662
Age            2.823040
GPA            0.177341
dtype: float64

In [49]:
# Standard Deviation row wise
#numeric columns
num_col = df.select_dtypes(include=[np.number])
#row-wise 
median_4 = num_col.head(4).std(axis=1)
print(median_4)

0    10.897247
1    10.063797
2    10.746162
3     9.902693
dtype: float64